{% load auth %}
{% load user %}
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html" class="usr">

<head>
    <title>{% block title %}Whispers{% endblock %}</title>
    <meta name="description" content="Name your favorite artists and be the first to know about their upcoming movies."/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="{{ STATIC_URL }}css/lib/bootstrap/bootstrap-2.1.0.css" type="text/css" rel="stylesheet" media="screen, projection" />
    <link href="{{ STATIC_URL }}css/lib/jquery/jquery-ui-1.9.0.custom.min.css" type="text/css" rel="stylesheet" media="screen, projection" />
    <link href="{{ STATIC_URL }}css/mp/header.css" type="text/css" rel="stylesheet" media="screen, projection" />
    <link href="{{ STATIC_URL }}css/mp/user.css" type="text/css" rel="stylesheet" media="screen, projection" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
</head>


<body>

<div class="container">

    <div class="row">
        <div class="span12 head">
            <div class="left">
                <ul class="navi">
                    <li><a href="/home">News</a></li>
                    <li><a href="/follows">You follow {{  user|follows_count}} artists</a></li>
                    <li><a href="/find">Find new artists to follow</a></li>
                </ul>
            </div>
            <div class="right">
                <div class="dropdown dropdown-hover middle">
                    <a data-toggle="dropdown" href="javascript:void(0)" class="user dropdown-toggle">
                        <img src="" style="display:none;">
                        <span class="user-name">{{ user.email }}</span>&nbsp;<b class="caret"></b>
                    </a>
                    <ul role="menu" class="dropdown-menu center">
                        <li><a href="/account">Your account</a></li>
                        </li><li class="divider"></li>
                        <li><a async-bind="click" async-function="mp.guest.logout" href="javascript:void(0)">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{# WRITTEN BY TEMPLATE #}
{% block content %}{% endblock %}



{# DEFERRED SCRIPT LOADING #}
<script type="text/javascript"> var staticfolder="{{ STATIC_URL}}" </script>
<script src="{{ STATIC_URL }}js/lib/jquery/jquery-1.9.0.js"></script>
<script src="{{ STATIC_URL }}js/lib/jquery/jquery-ui-1.9.0.custom.min.js"></script>
<script src="{{ STATIC_URL }}js/lib/jquery/jquery.loader.js"></script>
<script src="{{ STATIC_URL }}js/lib/jquery/jquery.async.js"></script>
<script src="{{ STATIC_URL }}js/lib/bootstrap/bootstrap-2.3.0.min.js"></script>
<script src="{{ STATIC_URL }}js/lib/date.js"></script>
<script src="{{ STATIC_URL }}js/k/commons.js"></script>
<script src="{{ STATIC_URL }}js/k/commons.log.js"></script>
<script src="{{ STATIC_URL }}js/k/commons.utils.js"></script>
<script src="{{ STATIC_URL }}js/k/commons.page.js"></script>
<script src="{{ STATIC_URL }}js/k/kdate.js"></script>
<script src="{{ STATIC_URL }}js/k/k.api.js"></script>
<script src="{{ STATIC_URL }}js/mp/mp.js"></script>
<script src="{{ STATIC_URL }}js/mp/guest.js"></script>
<script src="{{ STATIC_URL }}js/mp/artistsSearch.js"></script>
<script src="{{ STATIC_URL }}js/pages/homepage.js"></script>
<script src="{{ STATIC_URL }}js/pages/find.js"></script>
<script src="{{ STATIC_URL }}js/pages/follows.js"></script>

<script>
    mp.currentUser = {email: '{{ user.email }}' };
</script>

{# LOAD CONTEXTUAL JAVASCRIPT PAGE #}
<script>
    $(document).ready(function(){$k.load('{% block jspage %}{% endblock %}');});
</script>

<div id="getsat-widget-4140"></div>
<script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
<script type="text/javascript">if (typeof GSFN !== "undefined"){ GSFN.loadWidget(4140,{"containerId":"getsat-widget-4140"});}</script>


</body>
</html>

