{% extends "layouts/guest/empty.html" %}

{% block title %}Whispers{% endblock %}
{% block jspage %}frontpage{% endblock %}

{% block content %}

    <div class="front">

    <div class="text-box">
        <h1>Keep up with cinema</h1>
        <h2>Follow your favorite artists and get fresh news about their upcoming movies</h2>
        <input id="artist-name" class="front-input" type="text" placeholder="ex: Johnny Depp, Quentin Tarantino" class="ui-autocomplete-input" autocomplete="off">

    </div>

    <div id="artist-boxes">


        {% for artist in artists %}
            <div class="artist-box">
                {% if artist.profile != '' %}
                    <img src="http://cf2.imgobject.com/t/p/w342{{ artist.profile }}"/>
                {% else %}
                    <img src="{{ STATIC_URL }}img/question_mark.png"/>
                {% endif %}
                <div class="follow-btn-box">
                    <a class="btn btn-front btn-large">Follow {{ artist.name }}</a>
                </div>
            </div>
        {% endfor %}

    </div>



{% endblock %}

