{% extends "layouts/guest/empty.html" %}

{% block title %}Whispers{% endblock %}
{% block jspage %}frontpagev2{% endblock %}

{% block content %}

    <div class="front">

    <div class="text-box">
        <h1>Keep up with cinema</h1>
        <h2>Follow your favorite artists and get fresh news about their upcoming movies</h2>

        <h4>Search for an artist name or a movie</h4>
        <input id="artist-name" class="front-input" type="text" placeholder="ex: Johnny Depp, Quentin Tarantino" class="ui-autocomplete-input" autocomplete="off">

    </div>

    <div id="artist-boxes">


        {% for artist in artists %}
            <div class="artist-box">
                {% if artist.profile != '' %}
                    <img src="http://cf2.imgobject.com/t/p/w342{{ artist.profile }}"/>
                {% else %}
                    <img src="{{ STATIC_URL }}img/question_mark.png"/>
                {% endif %}
                <div class="follow-btn-box">
                    <a class="btn btn-follow btn-large" artist-id="{{ artist.id }}">Follow <br/>{{ artist.name }}</a>
                </div>
            </div>
        {% endfor %}

    </div>

    <div id="menu-box">
        <a href="javascript:void(0)" id="login-btn">Log in</a>
        <a href="javascript:void(0)" id="register-btn">Register</a>
    </div>

{% endblock %}

