{% extends "layouts/guest/empty.html" %}

{%  load artist %}

{% block title %}Whispers{% endblock %}
{% block jspage %}frontpagev2{% endblock %}

{% block content %}

    <div class="front">

    <div class="text-box">
        <h1>Keep up with cinema</h1>
        <h2>Follow your favorite artists and get fresh news about their upcoming movies</h2>

        <h4>Search for an artist name or a movie</h4>
        <input id="artist-name" class="front-input" type="text" placeholder="ex: Johnny Depp, Quentin Tarantino" class="ui-autocomplete-input" autocomplete="off">

    </div>

    <div id="artist-boxes">

        {% for artist in artists %}
            {{ artist|artist_box }}
        {% endfor %}

    </div>

    <div class="menu-top">
        <a href="javascript:void(0)" class="link" id="login-btn">Log in</a>
        <a href="javascript:void(0)" class="link" id="register-btn">Register</a>
    </div>

    <div id="menu-box">
    </div>

{% endblock %}

