/moviepeople/local_settings.py
/moviepeople/Session.vim
/moviepeopleapp/Session.vim
/###/*
*.swp
*.pyc
*.json
/APIparser/miri.py
/moviepeopleapp/dbflatdump/*
/.idea/*
/moviepeopleapp/fixtures/initial_data.json
