html{
    background:  #e0e0e0;
}
.front body{
    background: #e0e0e0;
}

.front h1,.front h2,.front h3,.front h4{
    font-weight: 300;
    font-family: 'open sans',arial,sans-serif;
}

.front h1{
    color: black;
    font-size: 40px;
}
.front h2{
    color: black;
    font-size: 24px;
    margin-bottom: 0;
}
.front h3{
    font-size: 18px;
    margin-top: 0;
}
.front h4{
    margin-top: 80px;
    margin-bottom: 0;
    font-size: 14px;
}

.text-box{
    position:fixed;
    width:480px;
    height: 280px;
    top:50%;
    left:0;
    margin-top:-140px;
    padding-left: 48px;
    z-index: 1;
}

.menu-top{
    position: fixed;
    top: 0;
    right: 0;
    padding: 6px;
    padding-right: 18px;
    height: 24px;
    line-height: 24px;
    background: #e0e0e0;
}
.menu-top a.link{
    color:#999;
    margin-left: 18px;
}
.menu-top a.link:hover{
    color:#000000;
}
#menu-box{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 6px;
    height: 44px;
    line-height: 44px;
    background: #e0e0e0;
}
#follow-artists{
    margin-right: 12px;
}
#menu-box .artist-small-pic{
    width:30px;
    height:44px;
    margin-right: 6px;
}

#artist-boxes{
    top:0;bottom: 0;left: 0;right: 0;
    padding: 48px 48px 48px 540px;
    z-index: 0;
    letter-spacing: -.31em;
    background: #e0e0e0;
}
#artist-boxes>div{
    letter-spacing: normal;
}
.artist-box-front{
    display: inline-block;
    width: 180px;
    height: 330px;
    margin-right: 24px;
    margin-bottom: 24px;
    vertical-align: top;
    text-align: center;
    background: #e0e0e0;
}
.artist-box-front img{
    width:180px;
    height: 258px;

}
.artist-box-front .follow-btn-box{
    text-align: center;
    margin-top:12px;
}

.artist-box-front .follow-btn-box .btn-follow {
    background-color: hsl(169, 3%, 87%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e7e8e8", endColorstr="#dcdede");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#e7e8e8), to(#dcdede));
    background-image: -moz-linear-gradient(top, #e7e8e8, #dcdede);
    background-image: -ms-linear-gradient(top, #e7e8e8, #dcdede);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e7e8e8), color-stop(100%, #dcdede));
    background-image: -webkit-linear-gradient(top, #e7e8e8, #dcdede);
    background-image: -o-linear-gradient(top, #e7e8e8, #dcdede);
    background-image: linear-gradient(#e7e8e8, #dcdede);
    border-color: #dcdede #dcdede hsl(169, 3%, 86%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.06);
    -webkit-font-smoothing: antialiased;

    font-weight: 300;
    font-family: 'open sans',arial,sans-serif;

    -webkit-border-radius: 2px!important;
    -moz-border-radius: 2px!important;
    border-radius: 2px!important;

    display: block;
}

.artist-box-front .follow-btn-box .btn-follow:hover {
    background-color: hsl(214, 91%, 80%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c4dcfc", endColorstr="#9dc5fa");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#c4dcfc), to(#9dc5fa));
    background-image: -moz-linear-gradient(top, #c4dcfc, #9dc5fa);
    background-image: -ms-linear-gradient(top, #c4dcfc, #9dc5fa);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c4dcfc), color-stop(100%, #9dc5fa));
    background-image: -webkit-linear-gradient(top, #c4dcfc, #9dc5fa);
    background-image: -o-linear-gradient(top, #c4dcfc, #9dc5fa);
    background-image: linear-gradient(#c4dcfc, #9dc5fa);
    border-color: #9dc5fa #9dc5fa hsl(214, 91%, 78%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.13);
    -webkit-font-smoothing: antialiased;
}


input.front-input{
    width: 434px;
    border-radius: 2px;
    height: 36px;
    font-size: 18px;
    font-weight: lighter;
    color: black;
    line-height: 36px;
    border:1px solid #ccc;

    -webkit-transition: border-color .05s linear;
    -moz-transition: border-color .05s linear;
    -o-transition: border-color .05s linear;
    -ms-transition: border-color .05s linear;
    transition: border-color .05s linear;
}
input.error.front-input{
    border-color:#d24836;

    -webkit-transition: border-color .2s linear;
    -moz-transition: border-color .2s linear;
    -o-transition: border-color .2s linear;
    -ms-transition: border-color .2s linear;
    transition: border-color .2s linear;
}
.input.front-input .loader{
    position: absolute;
    right:0;
    top:50%;
    margin-top:-16px;
    height: 32px;width:32px;;
}
input.loading.front-input .loader{
    display:block!important;
}

#create-account-box{
    position: fixed;
    padding:40px 12px 12px 12px;
    right:-600px;
    top: 0;
    bottom: 0;
    background: white;
    box-shadow: 0 0 16px rgba(0,0,0,0.6);
    width: 520px;
    text-align: center;
}

.connect-block{
    display:inline-block;
    text-align: left;
    margin-top: 48px;
}

#create-account-box label{
    color: #999;
}
#facebook-connect{
    background: #5b74a8!important;
    background-image: -moz-linear-gradient(center top,#516795,#5b74a8);
    background-image: -webkit-linear-gradient(center top,#516795,#5b74a8);
    border: 1px solid transparent;
    color: #fff!important;

    text-shadow: 0 1px rgba(0,0,0,0.1);
    position: relative;
    padding-left: 35px;
    font-weight: bold;
}
#facebook-connect img{
    position: absolute;
    left: 0;
    bottom: -4px;
}
.facebook-safe{
    font-size: 10px;
    color: #999;
}
.alternate-connect-block{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    text-align: center;
    padding-bottom:24px;
}
.alternate-connect{
    color: #666;
}
#create-account-email{
    width: 300px;
    height: 34px;
    margin-bottom: 0;
    margin-right: 6px;
}
#create-account-email-error{
    color:#8b0000;
}