{% extends "layouts/user/base.html" %}

{%  load artist %}

{% block title %}Find artists to follow{% endblock %}
{% block jspage %}find{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="span12">

                <input id="artist-name" type="text" placeholder="ex: Johnny Depp, Quentin Tarantino" class="ui-autocomplete-input" autocomplete="off">

            </div>
        </div>
    </div>

    <div class="container">
    <div class="row" >
            <div class="span12">
                <div id="artist-boxes">
                    {% for artist in artists %}
                        {{ artist|artist_box_front }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        var mp_artists=[
            {% for artist in artists %}
                {
                    box:'{{ artist|artist_box_front }}',
                    name:'{{ artist.name }}'
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];
    </script>

{% endblock %}