{% extends "layouts/user/base.html" %}

{% load artist %}

{% block title %}You follow {{ artists|length }} artists{% endblock %}
{% block jspage %}follows{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="span12">

                <h1>You follow {{ artists|length }} artists</h1>

                {% for artist in artists %}
                        {{ artist|artist_box:'' }}


                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}